<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.branchMapper">

	<select id="branchList" resultType="branchVO">
		select br_id brId, br_name brName, br_location brLocation, br_tel brTel, br_img brImg from branch order by br_id asc
	</select>
	

	<select id="branchOne" resultType="branchVO">
		select br_id brId, br_name brName, br_location brLocation, br_tel brTel, br_img brImg
		 from branch
		 where br_id = #{brId}
	</select>
	
	<insert id="branchInsert">
		insert into branch (br_id,br_name, br_location, br_tel, br_img)
		values (#{brId}, #{brName}, #{brLocation}, #{brTel}, #{brImg})
	</insert>
	
	<update id="branchUpdate">
		update branch
		set br_name = #{brName}, br_location = #{brLocation}, br_tel=#{brTel}, br_img=#{brImg}
		where br_id=#{brId} 
	</update>
	
	<delete id="branchDelete">
		delete branch
		where br_id=#{brId}
	</delete>
	
	<select id="branchMostRecent" resultType="string">
		select max(br_id) brId from branch
	</select>
	
	<select id="meetingRoomInBranch" resultType="meetingroomVO">
		select mr_name mrName, mr_id mrId from meeting_room where br_id = #{brId}
	</select>
	
	<select id="meetingRoomListOrderByBranch" resultType="java.util.HashMap">
		select  br.br_id brId, mr.mr_name mrName from meeting_room mr, branch br where br.br_id = mr.br_id
	</select>
	
	<select id="branchImgMostRecent" resultType="string">
		select max(br_img) brImg from branch
	</select>
	

</mapper>