<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.employeeMapper">
	<select id="getStoredId" resultType="string">
		select emp_id empId from employee where emp_id = #{id}
	</select>
	
	<select id="getLoginFailureCnt" resultType="int">
		select emp_failure_cnt empFailureCnt from employee where emp_id = #{empId}
	</select>
	
	<update id="addLoginFailureCnt">
		update employee set emp_failure_cnt = #{loginFailureCnt} where emp_id = #{empId}
	</update>
	
	<update id="resetLoginCnt">
		update employee set emp_failure_cnt = 0 where emp_id = #{id}
	</update>
	
	<update id="lockAccount">
		update employee set enabled =0 where emp_id = #{id}
	</update>
	
	<select id="getCurrentId" resultType="employeeVO">
		select emp_id empId, emp_name empName, dept_name deptName from employee, department 
		where employee.dept_id = department.dept_id and  emp_id = #{empId}
	</select>
	
	<select id="getDeptCost" resultType="int">
		select dept_cost deptCost from employee, department 
		where employee.dept_id = department.dept_id and employee.emp_id=#{empId}
	</select>
	
	<select id="getReservationByEmpId" resultType="com.gsitm.meeting.users.dto.EmployeeDTO$MyPageInfo">
		select res_id resId, reservation.emp_id empId, reservation.mr_id mrId, mr_name mrName, br_name brName, to_char(res_start_time,'YYYY-MM-DD HH24:MI') resStartTime,
		to_char(res_end_time,'YYYY-MM-DD HH24:MI') resEndTime, to_char(res_time,'YYYY-MM-DD HH24:MI') resDate, res_purpose resPurpose, res_state resState, res_type resType, res_cost resCost 
		,dept_id deptId
        from reservation, branch, meeting_room,department d
		where reservation.mr_id = meeting_room.mr_id and meeting_room.br_id = branch.br_id and branch.br_id = d.br_id and reservation.emp_id =#{empId}
	</select>
	
	<select id="getReservationBySearchtype" resultType="com.gsitm.meeting.users.dto.EmployeeDTO$MyPageInfo">
		select res_id resId, reservation.emp_id empId, reservation.mr_id mrId, mr_name mrName, br_name brName, to_char(res_start_time) resStartTime,
		to_char(res_end_time) resEndTime, to_char(res_time) resDate, res_purpose resPurpose, res_state resState, res_type resType, res_cost resCost 
		from reservation, branch, meeting_room
		where reservation.mr_id = meeting_room.mr_id and meeting_room.br_id = branch.br_id and reservation.emp_id = #{empId}
		<if test="searchtype !=null">
			<if test="searchtype == 'schduledMeeting'.toString()">
				and res_state = 'res_2' 
			</if>
			<if test="searchtype == 'allOfList'.toString()">
				
			</if>
			<if test="searchtype == 'oneWeek'.toString()">
				<![CDATA[and ((sysdate - 7) < res_start_time)]]>
			</if>
			<if test="searchtype == 'oneMonth'.toString()">
				<![CDATA[and ((sysdate - 30) < res_start_time)]]> 
			</if>
			<if test="searchtype == 'sixMonth'.toString()">
				<![CDATA[and ((sysdate - 180) < res_start_time)]]> 
			</if>
			<if test="searchtype == 'oneYear'.toString()">
				<![CDATA[and ((sysdate - 365) < res_start_time)]]> 
			</if>
		</if>
	</select>
	<update id="insertNewPwd">
      update employee set emp_pwd = #{newPwd}
   </update>
   
   <update id="initFailureCnt">
   	update employee set emp_failure_cnt=0
   	where emp_id=#{empId}
   </update>
	<!-- 윤영 -->
	<select id="availableMeetingDate" resultType="com.gsitm.meeting.users.dto.EmployeeDTO$AvailableMeetingDate">
		select to_char(res_start_time,'HH24:MI') resStartDate, to_char(res_end_time,'HH24:MI') resEndDate from reservation where mr_id = #{mrId} 
		and to_char(res_start_time, 'YY/MM/DD') = #{availableDate}
	</select>
	<select id="CurrentInfoByMrId" resultType="com.gsitm.meeting.users.dto.EmployeeDTO$CurrentInfoByMrId" parameterType="string">
		select m.mr_Name mrName, b.br_name brName from meeting_room m, branch b 
		where m.br_id = b.br_id and m.mr_id = #{mrId}
	</select>
	<select id="mySchedule" resultType="com.gsitm.meeting.reservation.dto.ReservationDTO$ReservationTest" parameterType="string">
		 select  a.res_id resId,to_char(res_time,'YYYY-MM-DD HH24:MI:SS') resDate ,
        to_char(res_start_time,'YYYY-MM-DD HH24:MI:SS') resStartDate,
        to_char(res_end_time,'YYYY-MM-DD HH24:MI:SS') resEndDate ,
        r.res_state resState,
        b.br_name brName,m.mr_name mrName
        from reservation r,attendee a,meeting_room m, branch b
        where r.res_id=a.res_id
        and m.mr_id=r.mr_id
        and b.br_id=m.br_id
        and a.attend_id =#{empId}
        and res_state='res_2'
        and to_char(res_start_time,'YYYY-MM')= to_char(sysdate,'YYYY-MM')
        and to_char(res_start_time,'YYYY-MM-DD"T"HH24:MI:SS')>to_char(sysdate,'YYYY-MM-DD"T"HH24:MI:SS')
        order by to_char(res_start_time,'YYYY-MM-DD"T"HH24:MI:SS')
	</select>
</mapper>