<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.equipmentMapper">

	<select id="equipmentAllList" resultType="com.gsitm.meeting.room.dto.EquipmentDTO$EquipmentExpansion">
		select e.eq_id eqId, m.mr_id mrId, m.mr_name mrName, b.br_name brName
		from equipment e, meeting_room m, branch b
		where e.mr_id=m.mr_id
		and m.br_id=b.br_id
	</select>
	
	<!-- 회의실에 종속된 기자재 리스트 -->
	<select id="searchEquipment" resultType="equipmentVO">
		select eq_id eqId from equipment where mr_id=#{mrId}
	</select>
	
	<insert id="equipmentInsert" parameterType="equipmentVO">
		insert into equipment (eq_id,mr_id)
		values (#{eqId}, #{mrId})
	</insert>
	
	<update id="equipmentUpdate">
		update equipment
		set eq_id=#{eqId}, mr_id=#{mrId}
	</update>
	
	<delete id="equipmentDelete">
		delete equipment
		where eq_id=#{eqId}
	</delete>
	
	
	<select id="getRecentSeqMike" resultType="String">
		select max(eq_id) eqId from equipment where eq_id like 'M_%'
	</select>
	
	<select id="getRecentSeqWhiteBoard" resultType="String">
		select max(eq_id) eqId from equipment where eq_id like 'W_%'
	</select>
	
	<select id="getRecentSeqNoteBook" resultType="String">
		select max(eq_id) eqId from equipment where eq_id like 'N_%'
	</select>
	
	<select id="getRecentSeqBeamProject" resultType="String">
		select max(eq_id) eqId from equipment where eq_id like 'V_%'
	</select>
	
	
	
</mapper>