<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.meetingRoomMapper">

<!-- <select id="meetingRoomList" resultType="com.gsitm.meeting.room.dto.MeetingRoomDTO$MeetingRoomTest">
		select b.br_name brName,mr_name mrName, r.br_id brId,r.mr_id mrId, mr_limit mrLimit,b.BR_LOCATION brLocation, mr_area mrArea, mr_network mrNetwork, 
		mr_type mrType, e.emp_name empName, mr_location mrLocation, mr_img mrImg, LISTAGG(eq.eq_id,',') WITHIN GROUP(ORDER BY r.mr_id) AS eqId 
		from branch b, meeting_room r, employee e,equipment eq
		where  b.BR_ID=r.br_id 
		and r.emp_id = e.emp_id
		and r.mr_id = eq.mr_id
		group by b.br_name,mr_name,r.br_id,r.mr_id,mr_limit,b.BR_LOCATION,mr_area,mr_network,mr_type,e.emp_name,mr_location,mr_img
	</select> -->
	
	<select id="meetingRoomList" resultType="meetingRoomVO">
		select mr_id mrId, mr_name mrName, br_id brId, mr_limit mrLimit, mr_price mrPrice, mr_area mrArea, mr_network mrNetwork, mr_type mrType,
		emp_id empId, mr_location mrLocation, mr_img mrImg
		from meeting_room order by mr_id asc
		</select>
	

	<select id="meetingRoomOne" resultType="meetingRoomVO">
		select mr_id mrId, mr_name mrName, br_id brId, mr_limit mrLimit, mr_price mrPrice, mr_area mrArea, mr_network mrNetwork, mr_type mrType,
		emp_id empId, mr_location mrLocation, mr_img mrImg
		from meeting_room
		 where mr_id = #{mrId}
	</select>
	
	<insert id="meetingRoomInsert">
		insert into meeting_room (mr_id,mr_name, br_id, mr_limit, mr_price, mr_area, mr_network, mr_type, emp_id, mr_location, mr_img)
		values (#{mrId}, #{mrName}, #{brId}, #{mrLimit}, #{mrPrice}, #{mrArea}, #{mrNetwork}, #{mrType}, #{empId}, #{mrLocation}, #{mrImg})
	</insert>
	
	<update id="meetingRoomUpdate">
		update meeting_room
		set mr_name=#{mrName}, br_id=#{brId}, mr_limit=#{mrLimit}, mr_price=#{mrPrice}, mr_area=#{mrArea}, mr_network=#{mrNetwork}, 
		mr_type=#{mrType}, emp_id=#{empId}, mr_location=#{mrLocation}, mr_img=#{mrImg}
		where mr_id=#{mrId} 
	</update>
	
	<delete id="meetingRoomDelete">
		delete meeting_room
		where mr_id=#{mrId}
	</delete>

	<select id="meetingRoomMostRecent" resultType="string">
		select max(mr_id) mrId from meeting_room
	</select>
	
	<select id="meetingRoomImgMostRecent" resultType="string">
		select max(mr_img) mrImg from meeting_room
	</select>
	
	<select id="getMeetingRoomAdministrator" resultType="employeeVO">
		select emp_id empId, emp_name empName from employee where emp_level='L_2' or emp_level='L_1'
	</select>
	
	<select id="meetingRoomGetBranchLocation" resultType="branchVO">
		select br_id brId, br_name brName, br_location brLocation, br_tel brTel, br_img brImg from branch
	</select>
	
	<select id="meetingRoomGetEquipment" resultType="equipmentVO">
		 select distinct regexp_substr(eq_id, '[^_]', 1, 1) eqId, mr_id mrId from equipment order by mr_id
	</select>
</mapper>