<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.noticeMapper">
	<select id="noticeCount" resultType="int">
		select count(*) from notice
	</select>
	 
	<select id="noticeList" resultType="com.gsitm.meeting.notice.dto.NoticeDTO$NoticeList">
		<![CDATA[
		select notice_id as noticeId, notice_title as noticeTitle, notice_title as noticeTitle, emp_name as noticeWriter, notice_date as noticeDate
from (select rownum rnum, b.* 
      from (select * 
            from notice n , employee e
            where n.NOTICE_WRITER = e.emp_id) b
				where rownum <= #{minRow})
			where rnum >= #{maxRow}
			]]>
	</select>
	
	<select id="noticeRead" resultType="NoticeVO">
		select notice_id noticeId, notice_title noticeTitle, notice_content noticeContent, 
		emp_name noticeWriter, notice_date noticeDate from notice n, employee e 
        where notice_id = #{noticeId}
        and e.emp_id = n.notice_writer
	</select>
	
	<insert id="noticeInsert">
		insert into notice values( seq_notice_id.nextval, #{noticeTitle}, #{noticeContent}, #{noticeWriter}, sysdate)
	</insert>
	
	<delete id="noticeDelete">
		delete notice where notice_id = #{noticeId}
	</delete>
	
	<update id="noticeUpdate">
		update notice set notice_title = #{noticeTitle}, notice_content = #{noticeContent} where notice_id = #{noticeId}
	</update>
	
	<select id="noticeTest" resultType="com.gsitm.meeting.notice.dto.NoticeDTO$NoticeTest">
		select notice_id noticeId, notice_title noticeTitle from notice where notice_id = 13
	</select>
	
</mapper>