<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis XML 설정 파일(MyBatis설정의 중앙 허브 역할) -->
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<!-- 지사 및 부서 -->
		<typeAlias type="com.gsitm.meeting.vo.Branch" alias="branchVO"/>
		<typeAlias type="com.gsitm.meeting.branch.dto.BranchDTO" alias="branchDTO"/>
		<typeAlias type="com.gsitm.meeting.vo.Department" alias="departmentVO"/>
		<typeAlias type="com.gsitm.meeting.branch.dto.DepartmentDTO" alias="departmentDTO"/>
		<typeAlias type="com.gsitm.meeting.vo.DepartmentHead" alias="departmentHeadVO"/>
		<typeAlias type="com.gsitm.meeting.branch.dto.DepartmentHeadDTO" alias="departmentHeadDTO"/>
		
		<!-- 공지사항 -->
		<typeAlias type="com.gsitm.meeting.vo.Notice" alias="noticeVO"/>
		<typeAlias type="com.gsitm.meeting.notice.dto.NoticeDTO" alias="noticeDTO"/>
		
		<!-- 예약관련 -->
		<typeAlias type="com.gsitm.meeting.vo.Attendee" alias="attendeeVO"/>
		<typeAlias type="com.gsitm.meeting.reservation.dto.AttendeeDTO" alias="attendeeDTO"/>
		<typeAlias type="com.gsitm.meeting.vo.EquipmentReservation" alias="equipmentReservationVO"/>
		<typeAlias type="com.gsitm.meeting.reservation.dto.EquipmentReservationDTO" alias="dquipmentReservationDTO"/>
		<typeAlias type="com.gsitm.meeting.vo.Recognition" alias="recognitionVO"/>
		<typeAlias type="com.gsitm.meeting.reservation.dto.RecognitionDTO" alias="recognitionDTO"/>
		<typeAlias type="com.gsitm.meeting.vo.Reservation" alias="reservationVO"/>
		<typeAlias type="com.gsitm.meeting.reservation.dto.ReservationDTO" alias="reservationDTO"/>
		
		<!-- 회의실 관련 -->
		<typeAlias type="com.gsitm.meeting.vo.Equipment" alias="equipmentVO"/>
		<typeAlias type="com.gsitm.meeting.room.dto.EquipmentDTO" alias="equipmentDTO"/>
		<typeAlias type="com.gsitm.meeting.vo.MeetingRoom" alias="meetingRoomVO"/>
		<typeAlias type="com.gsitm.meeting.room.dto.MeetingRoomDTO" alias="meetingRoomDTO"/>
		
		<!-- 유저 관련 -->
		<typeAlias type="com.gsitm.meeting.vo.Employee" alias="employeeVO"/>
		<typeAlias type="com.gsitm.meeting.users.dto.EmployeeDTO" alias="employeeDTO"/>
		
	</typeAliases>
</configuration> 